@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,800&display=swap");
body {
  margin: 0;
  width: 100%;
  font-family: "Roboto";
}
header {
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
  height: 65px;
  background-color: #ffc017;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(41, 41, 41);
  position: sticky;
  top: 0px;
}
main {
  width: 100%;
  /*background-color: blue;*/
}
.upsideBanner {
  padding-left: 6%;
  width: 94%;
  background-color: brown;
  height: 415px;
  border-bottom: 1px solid rgb(41, 41, 41);
}
.logoDiv {
  /*background-color: blueviolet;*/
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav {
  height: 100%;
  /* background-color: blueviolet;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: rgb(41, 41, 41);
}
nav ul li button {
  font-size: 14px;
}
.upsideBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffc017;
  height: 400px;
}
.upsideBannerText {
  /*background-color: green;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}
.upsideBannerImg {
  height: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.mainPageArticle {
  padding-left: 6%;
  padding-right: 6%;
  width: 88%;
  padding-top: 30px;
}
nav ul {
  display: flex;
  /*background-color: red;*/
  list-style-type: none;
  display: flex;
  align-items: center;
}
nav ul li {
  margin-right: 25px;
  cursor: pointer;
}
nav ul li button,
.upsideBannerText button {
  background-color: #191919;
  color: white;
  border: none;
  border-radius: 45px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: black;
}
.upsideBannerImg img {
  height: 100%;
}
h1 {
  font-family: "Spectral", serif;
  line-height: 95px;
  font-weight: 500;
  font-size: 95px;
  margin-bottom: 0;
  margin-top: 0;
}
.upsideBannerText h3 {
  color: rgb(53, 52, 52);
  line-height: 24px;
  font-size: 22px;
  font-weight: 400;
  font-family: "Roboto";
  margin-right: 35%;
  margin-bottom: 40px;
}
.upsideBannerText button {
  font-family: "Roboto";
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 7px;
  padding-top: 7px;
  width: 170px;
}
.trendingOnMediumTitle {
  display: flex;
  font-family: "Arial";
  font-size: 16px;
  color: rgb(25, 25, 25);
}
.trendingOnMediumCarousel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 20px;
}
.productCarousel {
  display: flex;
  flex-direction: row;
  flex-basis: 33%;
}
.productCarouselDescription {
  /*display: flex;
  flex-direction: column;*/
}
.productCarouselDescriptionDate {
  display: flex;
  flex-direction: row;
}
.trendingOnMedium {
  width: 100%;
  border-bottom: #e6e6e6 1px solid;
  padding-bottom: 30px;
}
.productCarouselDescriptionTitle {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
}
.productCarouselDescriptionTitle p {
  margin: 0;
  padding-right: 5px;
  color: grey;
}
.productCarouselDescriptionTitle a {
  color: #191919;
  font-weight: 500;
}
.productCarouselDescriptionTitle img {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.productCarouselDescription h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.productCarouselDescriptionDate {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.productCarouselDescriptionDate ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
.productCarouselDescriptionDate ul li {
  margin-right: 5px;
  font-family: "Spectral";
  color: grey;
}
.numberCarousel {
  color: #e6e6e6;
  font-size: 30px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #191919;
}

.secondPartPage {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  /*background-color: #ffc017;*/
}
.articlesList {
  /*background-color: aqua;*/
  display: flex;
  flex-direction: column;
  width: 60%;
  row-gap: 20px;
}
.rightMenu {
  /*background-color: bisque;*/

  width: 35%;
}
.article {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /*background-color: red;*/
}
.articleImg {
  width: 30%;
  width: 250px;
  /*background-color: blueviolet;*/
}
.articleImg img {
  width: 100%;
}
.articleText {
  height: 100%;
  width: 60%;

  /*background-color: blueviolet;*/
}
.articleText p {
  color: #82738d;
  margin: 0;
}
.articleText h4 {
  margin-bottom: 5px;
}
.articleListWithIcon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.bookmarkSpan {
  margin-top: 10px;
  margin-bottom: 10px;
}
.article button {
  background-color: #f0efef;
  border-radius: 10px;
  border: none;
  color: grey;
  cursor: pointer;
}
.article button:hover {
  background-color: #e6e6e6;
}

.rightMenu button {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #7d7d7d;
  cursor: pointer;
}
.rightMenu ul {
  padding-top: 500px;
  border-top: 1px solid #e6e6e6;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.rightMenu ul li a {
  margin-right: 20px;
  color: #7d7d7d;
  font-size: 14px;
}

@media only screen and (max-width: 1272px) {
  .productCarousel {
    flex-basis: 50%;
  }
  .secondPartPage {
    flex-direction: column;
  }
  .rightMenu {
    order: 1;
    width: 100%;
    padding-bottom: 30px;
  }
  .articlesList {
    order: 2;
    width: 100%;
  }
  .rightMenu button {
    font-size: larger;
  }
}
@media only screen and (max-width: 900px) {
  main .upsideBannerImg {
    display: none;
  }
  main .upsideBannerText {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 856px) {
  .productCarousel {
    flex-basis: 100%;
  }
  .articleText h4,
  .articleText p {
    font-size: smaller;
  }
  .articleImg {
    width: 200px;
  }
  .rightMenu button {
    font-size: smaller;
  }
}

@media only screen and (max-width: 730px) {
  header nav ul .hiddenLi {
    display: none;
  }
  h1 {
    font-size: 65px;
  }
  .articleTextMainpart p {
    display: none;
  }
  .rightMenu ul {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .hidden500px {
    display: none;
  }
  h1 {
    font-size: 60px;
  }
  .articleImg {
    width: 125px;
  }
  .articleText p {
    font-size: 10px;
  }
  .articleText h4 {
    font-size: 12px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 400px) {
  h1 {
    line-height: 65px;
  }
  .upsideBannerText h3 {
    margin-right: 5px;
    font-size: 20px;
  }
  .logoDiv {
    width: 130px;
  }
  .logoDiv img {
    width: 100%;
  }
  .articleListWithIcon ul li {
    font-size: smaller;
  }
  .articleListWithIcon ul li button {
    font-size: smaller;
  }
  .articleImg {
    width: 100px;
  }
  .productCarouselDescription {
    font-size: smaller;
  }
}

@keyframes changeHeaderColor {
  0% {
    background-color: #ffc017;
  }
  100% {
    background-color: white;
  }
}
